@import url(https://db.onlinewebfonts.com/c/a5720fed55dd7f058dbbb64e858c0596?family=Guillon);
@import url(https://db.onlinewebfonts.com/c/fd3359d046c16220efce28a867169a09?family=Guillon+Demi);

body,
html {
  color: $black;
  font-family: "Guillon", sans-serif;
  font-size: 1rem;
  font-style: normal;
}

h2,
button {
  font-family: "Guillon Demi", sans-serif;
}